.wrapper {
  position: relative;
  width: 100%;
  max-width: 700px; /* Ajustar el ancho máximo */
  height: auto;
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto; /* Centrar el contenedor */
  background-size: cover;
  background-position: center;
}

.grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf000000', endColorstr='#00000000', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.pin_wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.pin {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.pin.show {
  opacity: 0.7;
  transform: scale(1.2);
}

.mood-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.mood-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.mood-buttons button:disabled {
  background-color: #00000021;
  cursor: not-allowed;
}

.mood-buttons button:not(:disabled):hover {
  background-color: #0056b3;
}

.mood-component .expand-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.mood-component .expand-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.mood-component.expanded {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  z-index: 1000;
  background-color: rgba(241, 196, 15, 0.95); /* Amarillo con mayor opacidad */
} 